{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}
{% block meta %} 
    <meta name="description" 
        content="Dev In" 
    /> 
    <meta name="robots" 
        content="noindex,nofollow"
    /> 
{% endblock %}
{% block body %}
<section class="w-80">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="text-center">Réinitialisez votre mot de passe</h1>
    <section class="w-50 mx-auto card p-4">
        {{ form_start(requestForm) }}
            <div>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </div>
            {{ form_row(requestForm.email) }}
            

            <button class="btn btn-primary">Envoyer un e-mail de réinitialisation du mot de passe</button>
        {{ form_end(requestForm) }}

    </section>
</section>    
{% endblock %}
