.article{
    padding: 20px;
    background-color: $silver;
    text-align: center;
    color: antiquewhite;
    max-width: 100%;
    position: relative;
    margin: 5px auto;
    
    .topTitre{
        background: $black;
        position: relative;
        top: 0px;
        // border-radius: 10px 10px 0 0;
        margin: -25px -20px 20px -20px;

        padding-top: 55px;
        padding-bottom: 25px;
    }
    .iconArticle{
        position: absolute;
        font-size: 20px;
        right: 10px;
        top: 5px;
        .redd{
            color: red;
        }
    }
    p, div{
        text-align: left;
    }
    img{
       display: block;
       margin: auto;
       max-width: 100%;
    }
    .right{
        float: right;
        position: relative;
        z-index: 90;
    }
    .left{
        float:left;
        padding: 5px;
    }
    .content{
        margin-top: 100px;
    }

    .tag-name{
        background-color: rgba(11, 9, 141, 0.734);
        color: white;
        padding: 5px;
        border-radius: 5px;
        white-space: nowrap;
        margin: 2px;
    }
    .couper{
        height: 300px;
        overflow-y: hidden;
        h1{
            font-size: 1.1em;
        }
        p{
            font-size: 1em;
        }
    }
    

    .footer{
        // background-color: black;
        text-align: center;
        justify-content: center;
        padding: 5px;
        margin: 0px auto;
        position: absolute;
        bottom: 20px;
        right: 30%;
        left: 30%;
    }
}
.articleCard{
    min-width: 440px;
    position: relative;
    background-color: $silver;
    justify-content: center;
    align-items: center;
    height: max-content;
    border-radius: $borderRadius;
}

.suggest{
    display: none;
    width: 300px;
    height: 40px;
    .suggestGrid{
        position: relative;
        background-color: black;
        padding: 10px 5px 5px 5px;
        top: -13px;
        border-radius: 5px;
        z-index: 4;
        display: grid;
        grid: auto-flow/ 1fr 0.2fr;
        box-shadow: 0 0 5px rgba(68, 68, 68, 0.402),
        0 0 25px rgba(8, 8, 8, 0.44),
        inset 0 4px 15px rgba(48, 48, 48, 0.359);
        /* background: linear-gradient(to right ,  rgba(255, 255, 255, 0.445) ,rgba(0, 0, 0, 0.445)); */
        width: 100%;
        height: 50px;
        .envoiSuggest{
            margin: 0;
            width: inherit;
            height: 46px;
            background-color: rgb(4, 56, 100);
            font-size: 0.8em !important;
        }
        .envoieSuggestInput{
            text-decoration: none;
            margin: 0;
            height: 40px !important;
            width: inherit;
            // min-width: 300px;
            position: relative;
            // margin: 10px 5px 10px 5px;
            border-radius: 5px;
            box-shadow:
                0 0 5px purple;
              
        }
      
    }
}
.couper{
    width: 400px;
    height: 600px;
}