@media only screen and (max-width: 600px) {
    .commentaire {
        width: 100%;
    }

  }

.commentaire{
    width: 95%;
    // position: relative;
    .suggest{
        display: none;
    }
    .suggestGrid{
        top: 0 !important;
        right: 10px !important;
    }
    margin: 0 auto 0 auto;
    .comment{
        position: relative;
        z-index: 4;
        display: grid;
        grid: auto-flow/ 1fr 0.2fr;
        /* background: linear-gradient(to right ,  rgba(255, 255, 255, 0.445) ,rgba(0, 0, 0, 0.445)); */
        width: 100%;
        .envoiComment{
            margin: 0;
            width: inherit;
            height: inherit;
            background-color: rgb(4, 56, 100);
        }
        .envoieCommentInput{
            text-decoration: none;
            margin: 0;
            height: inherit;
            width: inherit;
            // min-width: 300px;
            position: relative;
            // margin: 10px 5px 10px 5px;
            border-radius: 5px;
            box-shadow:
                0 0 5px purple;
              
        }
      
    }
    
    .top{
        position: relative;
        bottom: 0px;
        padding-bottom: 20px;
        z-index: 2;
        width: 100%;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        border: 2px rgb(3, 3, 30) solid;
        .comment3{

            position: relative;
            // max-height: 350px !important;
            // overflow-y: scroll;
            max-width: inherit;
            margin: auto;

            // overflow-y: scroll;
            /* top: -270px; */
            bottom: 0px;

            
            .jaime{
                position: absolute;
                right: 0;
                margin-top: -6px;
                font-size: 0.8em;
                
            }
            .red{
                color: red;
            }
            .left{
                text-align: left;
             
            }
            .head{

                background: linear-gradient(to right , rgb(0, 0, 0) ,  rgba(0,0,0,0));
                font-weight: 700;
                padding: 3px;
                margin: 3px;
                margin-bottom: 0;
            
            }
            .com{
            
                background: linear-gradient(to right ,  rgba(37, 37, 37, 0.445) ,rgba(90, 90, 90, 0.445));
            
                padding: 8px;
                margin: 0;
                margin-left: 3px;
                font-size: 0.9em;
                padding-bottom: 20px;
                word-break: break-all;
                word-wrap: break-word;
                max-width: inherit;

              
            }
            .date{
                position: absolute;
                top: 40px;
                right: 0;
                font-size: 0.8em;
                opacity: 0.5;
            }
        } 
        
    }

}
