

    .dropbtn{
        margin-top: -40px;
    }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background: $black;
    color: aliceblue;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #004182}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  // .dropdown:hover .dropbtn {
  //   background-color: #3e8e41;
  // }