footer 
{
    width: 100%;
    height: 70px;
    background: #0b0420;
    align-items: center;
    text-align: center;
    .div-nav{
        display: grid;
        grid: auto-flow / 1fr 1fr 1fr;
        padding-top: 20px;
    }
    a{
        color: rgb(204, 255, 190);
    }

}

