footer 
{
    width: 100%;
    height: 70px;
    background: $black;
    align-items: center;
    text-align: center;
    .div-nav{
        display: grid;
        grid: auto-flow / 1fr 1fr 1fr;
        padding-top: 20px;
    }


}

