.register {
    color: rgb(70, 69, 69);
    text-align: center;
    font-family: 'Righteous', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    height: fit-content;
}
label {
    cursor: pointer;
    text-align: left;
    margin-right: 20px;
    margin-left: 5px;
}
.form-ligne{
    justify-content: center;
    text-align: left;
}

input{
    text-align: left;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

input[type=text],
input[type=email],
input[type=password] {
    cursor: text;
    background-color: rgb(181, 207, 199);
    border-radius: 5px;
    height: 50px;
    width: 80%;
    display: block;
}
input[type=checkbox],
input[type=radio] {
    cursor: pointer;
    background-color: rgb(181, 207, 199);
    border-radius: 5px;
    height: 20px;
}
input[type=button] {
    cursor: pointer;
    border-radius: 5px;
}
input[type=button]:hover {
    background-color: rgba(25, 240, 175, 0.863);
}
button {
    border: 0;
    line-height: 2.5;
    padding: 0 13px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    background: linear-gradient(120deg, rgb(170, 185, 206), rgb(26, 66, 84));
    border-radius: 5px;
}

select {
    cursor: pointer;
    background-color: rgb(181, 207, 199);
    border-radius: 5px;
}
.height100{
    .cke_contents{
        height: 100vh !important;
    } 
}

.formEdit{
    position: relative;
    .loader{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2000;
        height: inherit;
        
    }

    &.is-loading::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-left:9.5%;
        width: 81%;
        background-color: rgba(240, 248, 255, 0.452);
        z-index: 3;
    }
}
.formSearch{
    padding: 5px;
    background-color: black !important;
    border-radius: 5px !important;
    color: aliceblue !important;
    box-shadow: 0 0 5px rgba(68, 68, 68, 0.402),
        0 0 25px rgba(8, 8, 8, 0.44),
        inset 0 4px 15px rgba(48, 48, 48, 0.359);
    position: relative;

    .loader{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2000;
        height: inherit;
        width: inherit;
    }

    &.is-loading::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(240, 248, 255, 0.452);
        z-index: 3;
    }
}
.form {
    text-align: center;
    margin: 20px auto 20px auto;
    padding: 20px;
    background-color: rgb(166, 218, 200);
    // background: linear-gradient(120deg, rgb(170, 206, 193), rgb(31, 115, 122));
    background: linear-gradient(120deg, rgb(114, 156, 181), rgb(31, 81, 122));
    // border: 1px inset;
    border-radius: $borderRadius;
    // width: 50%;
    box-shadow: inset 5px 5px 5px rgba(200, 199, 199, 0.392),
                inset -5px -5px 5px rgba(80, 79, 79, 0.471),
                     3px 3px 5px rgba(31, 30, 30, 0.582),
                    -5px -5px 5px rgba(124, 124, 124, 0.356);
}
.hr {
    width: 345px;
    border: inset 2px;
}
.Dancing {
    font-family: 'Dancing Script', cursive;
}
.Lobster {
    font-family: 'Lobster', cursive;
    color: rgb(27, 8, 77);
    // text-shadow: 5px -5px rgb(0, 172, 149),
    //              10px -10px rgb(111, 209, 108),
    //              15px -15px rgb(198, 228, 180);
    // transform: skewY(-5deg);
    margin-top: 20px;
    margin-bottom: 20px;
}
.large{
    min-width: 400px;
}
.Righteous {
    font-family: 'Righteous', cursive;
}
.Shadows {
    /* police not shadow => loobster */
    font-family: 'Lobster', cursive;
    font-size: 1.3em;
    color: rgb(200, 200, 200);
    font-weight: 900;
}
.mb-4 {
    margin-bottom: 15px;
}