#home{
    background-image: url('../../images/home2.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    .header{
        padding: 8px 150px;
        border-radius: 20px;
        h1{
           color: whitesmoke;
           font-size: 4em;
           font-weight: 400;
           white-space: nowrap;
        }
    }
}
.titre{
    position: relative;
    margin-top: 200px;

    .titreHome{
        position: absolute;
        text-align: center;
        border-radius: 10px;
        width:fit-content;
        top:0px;
        left: 30%;
        transform: translate(-50%,-180%);
        z-index: 2;
        font-family: "Righteous", cursive;
    }

    .backround{
        position: absolute;
        border-radius:64% 36% 60% 40% / 59% 47% 53% 41%  ;
        height: 250px;
        width: 250px;
        top:-20px;
        left: 30%;
        transform: translate(-50%,-50%);
    }
}

.btn-inscription{
    margin: auto;
    text-align: center;
    a{
        color: antiquewhite;
    }
}