.d-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    align-items: inherit;
}
.card{
    min-width: 300px;
    position: relative;
    background: linear-gradient(to right bottom, rgb(98, 98, 98), rgba(0,0,0));
    color: white;
    font-family: 'Righteous', cursive;
    border-radius: $borderRadius;
    box-shadow: 0 0 5px rgba(76, 76, 76, 0.39),
        0 0 25px rgba(56, 56, 56, 0.475);
    justify-content: center;
    align-items: center;
    height: max-content;
    margin:  50px auto 20px auto;

    .toptitre{
        position: relative;
        top: 0px;
        border-radius: $borderRadius $borderRadius 0 0 ;
        margin: 0;
    }
    h3{
        font-family: 'arial';

    }
    h1{
        overflow-x: hidden;
    }
    .toptitre2{
        position: relative;
        top: 0px;
        z-index: 2;
        // background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
        margin: 0;
    
    }
    .left{
        text-align: left;
        
        }
        
        
    .right{
        text-align: right;
    }

    .btn-vierge{
        text-decoration: none !important;   
        outline: none;
        background: none;
        background-color: none;
        border: none;  
        font-size: 1.2em ;
        
    }
    
}


.user-subjects{
    border: 2px solid black;
    box-shadow: inset 5px 5px 5px 5px gray,
        8px 8px 8px 8px rgba(33, 20, 20, 0.363);
    margin: 10px;
    text-align: center;
    .avatar{
        padding: 10px;
        height: 50px;
        width: auto;
    }
}

.avatar{
    width: 50px;
    border-radius: 50%;
}
li{
    list-style: none;
    
}
ul {
    padding-left: 0 !important;
    margin: 10px;
}