
@import "./variables.scss";
@import "./components/nav.scss";
@import "./components/footer.scss";
@import "./components/formRegister.scss";
@import "./components/vichUpload.scss";
@import "./components/userCard.scss";
@import "./components/subjectCard.scss";
@import "./components/nouvelSubject.scss";
@import "./components/dropdown.scss";
@import "./components/comment.scss";
@import "./components/swiper.scss";
@import "./components/updateColor.scss";
@import "./components/article.scss";
@import "./components/home.scss";
@import "./components/pagination.scss";
@import "./components/includProfil.scss";
@import "./components/paralax.scss";
@import "./color.scss";
.center{
    text-align: center;
}
#alertDelete{
    display: none;
    width: fit-content;
    background-color: $black;
    margin: auto;
    padding: 10px;
    border-radius: $borderRadius;
}
.lobster{
    font-family: 'Lobster', cursive;
}
#profilCard{
    margin: 100px auto 0 auto;
}
#myBtn1{
    white-space: nowrap;
}
.suggest{
    position: relative;
    z-index: 80;
}
.sombre{
    background: $gray;
}
.p-10{
    padding: 20px;
}
h1{
    font-size: 40px;
}
.mainSite{
    margin-top: 100px;
    min-height: 88vh;
}

.main{
    min-height: 100vh;
}
.w-80{
    width: 70%;
    margin: auto;
    text-align: center;
    position: relative;
}
.w-80Left{
    width: 70%;
    margin: auto;
    text-align: left;
    color: azure;
}
body{
    color: $white;
    background: $grayClair;
    font-family: 'Righteous', cursive;;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.tags{
    padding: 5px;
    border-radius: $borderRadius;
}
.site {
    display: grid;
    grid: auto-flow/ 1fr;
    height: min-content;
    

}  
.break{
    word-break: break-all;
}
.coter{
    height: 100vh;
}
.mute{
    font-size: small;
}
.pointer{
    cursor: pointer;
}

.btn-vierge{
    text-decoration: none !important;   
    outline: none;
    background: none;
    background-color: none;
    border: none;  
    font-size: 1.2em ;
   
}
#modal1, #modal2, #modal3{
    display: none;
    // position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;

    margin: 0;
    // width: 100%; /* Full width */
    // height: 100%; /* Full height */
    // overflow: auto; /* Enable scroll if needed */

}
.js-filter-count{
    color: $black;
    text-align: center;
}
.modele{
    display: none;
}

.alert{
    z-index: 99;
    text-align: center;
    margin: 10px auto;
    padding:10px 0 ;
    border-radius:$borderRadius;
}
.alert-success{
    color: greenyellow;
    background-color: rgba(168, 184, 168, 0.685);
}
.alert-danger{
    color: rgb(143, 0, 0);
    background-color: rgba(168, 145, 145, 0.685);
}
a{
    text-decoration: none;
    color: $purple;
    font-weight: bolder;
}
a:hover{
    color: $purple2;
}
.bottom{
    a{
        color: $purple2 !important;
    }
    a:hover{
        color: #c771b5 !important;
    }
}
.btnLien{
    padding: 10px;
    border-radius: $borderRadius;
    color: white !important;
    display: inline-block;
}
.btnLien:hover{
    background: $purpleClair!important;
}
.btnLien2{
    padding: 10px;
    border-radius: $borderRadius;
    border: solid 1px $purple !important;
    white-space: nowrap;
}
.btnLien2:hover{
    background: $purpleClair !important;
    color: $purple !important;
}
.b-50{
    height: 110px;
}

.inline{
    height: 50px;
}
.mt-5{
    margin-top: 50px;
}
.mt-2{
    margin-top: 20px;
}
.mt-8{
    margin-top: 100px;
}
.mt-10{
    margin-top: 300px;
}
.w-100{
    max-width: 100%;
    white-space: normal !important;
}
.w-100 div span{
    white-space: normal !important;
}
p{
    font-size: 25px;
}
.reverse{
    flex-direction: row-reverse;
}
.btnTrash{
    font-size: 1.5em;
    float: right;
    margin-right: 30px;
    margin-top: 70px;
}

@media all and (max-device-width: 491px)
{
    .dropbtn {
        margin-top: 0px;
      }
    .inlineRuby{
        display: block;
    }
    .couper{
        width: 90% !important;
        margin: 20px;
    }
    .article{
        .couper{
            height: 200px;
            overflow-y: hidden;
        }
    }
    .paralax{
        display: none;
    }
    .commentaire .comment .envoieCommentInput {
        font-size: 30px;
    }
    #home{
        width: 100%;
        left: 0;
    }
    h1{
        font-size:40px !important;
    }
    p, div, input, .form-ligne, button{
        font-size: 30px !important;
    }
    nav
    {
        height: 160px;
    }
    .logo{
  
        margin-top: -15px;
    }
    nav .main_pages 
    {
        display: none;
        // flex-direction: column;
        background: $black;
        
    }
    nav .icon_nav{

        top: 25px;
    
    }
    nav .main_pages a {
        width: 100%;
        height: 50px;
        justify-content:left;
        margin-left: 20px;
    }
    nav .main_pages  {
        width: 100%;
        
    }
    .label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
    #toggle:checked + .main_pages {
        display: flex;
    }
    nav .left_nav 
    {
        display: inline;
        width: 100%;
    }

    .mainSite{
        margin-top: 155px;
    }
    // .coter{
    //     display: none;
    // }
    .commentaire{
        min-width: 100%;
    }
    // .card-subject{
    //     margin-left: 0;
    //     margin-right: 0;

    // }
    .d-flex{
        padding: 10px;
        display: inline;
    }
    .sectionColor{
        max-width: 90% !important;

    }
    .carre{
        width: 50px !important;
        height: 50px !important;
    }
    .outils{
        max-width: 90% !important;
    }
    #btnProfil{
        top: 170px !important;
  
    }
    .btnProfil1{
        width: 230px !important;
        font-size: 25px !important;
    }
    .nav-logo{
        height: 50px;
    }
    .w-80{
        width: 100%;
    }
    .head{
        height: 50px;
    }

    .swiper-slide .avatar {
         width: 150px !important;
    }
    .dropdown-content{
        top: 120px;
    }

    .form{
        width: 90%;
        margin: 10vh auto 20px auto;
    }
    .formEdit{
        margin: 20px auto 20px auto !important;

    }
    .buttonEmpty, .btnLien2{
        border: solid 2px $purple !important;
    }
    .card-subject .deg90 {
        margin-left: -49px;
    }
    .swiper-slide  .deg90 {
        margin-left: -43px;
    }
    .card {
        width: 80%;
    }

    .background{
        width: 100% !important;
    }
    .swiper-slide .description {
        max-width: inherit
      }
    .card2{
        margin: 100px auto 150px auto !important;
        .toptitre{
            height: 200px;
            img{
                top: -120px !important;
            }
        }
    }
    .h2{

        margin-top: 200px !important;
    }
    .titreHome{
        font-size: 1.5em;
        width: 70% !important;
    }
}
