.purple{
    background:$bleu !important;
}
.purpleGradient{
    background: linear-gradient(to right, #b03595ed, #36082cec) !important;
}
.yellow{
    color: yellow;
}
.yellow-bg{
    background-color:rgba(191, 168, 54, 0.992);
}
.gray{
    color: $silver;
}
.bleu{
    background:#21a6eddb !important;
}
.bleuGradient{
    background: linear-gradient(to right, #21a6eddb, #051d2adb) !important;
}
.green{
    background: linear-gradient(to right, #2e6432bc, #368261de, #2f5b32bc) !important;
}
.orange{
    background: #bd5438;
}
.white{
    background: #616161;
}
.red{
    background: linear-gradient(to right, rgba(152, 35, 35, 0.4),rgba(186, 13, 13, 0.6), rgba(159, 43, 43, 0.4)) !important;

}
.gris{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
}
.black{
    background:  rgba(0, 0, 0, 0.9);
}
.color-red{
    color: red;
    font-size: 16px;
}