.purple{
    background-color:#b03595
}
.yellow{
    color: yellow;
}
.bleu{
    background:#21a6eddb !important;
}
.green{
    background: linear-gradient(to right, #2e6432bc, #368261de, #2f5b32bc) !important;
}
.orange{
    background: #d37960;
}
.red{
    background: linear-gradient(to right, rgba(152, 35, 35, 0.4),rgba(186, 13, 13, 0.6), rgba(159, 43, 43, 0.4)) !important;

}
.gris{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
}
.black{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.color-red{
    color: red;
    font-size: 16px;
}