.purple{
    background-color:#59003b;
}
.yellow{
    color: yellow;
}
.bleu{
    background-color:#21a6eddb;
}
.green{
    background: linear-gradient(to right, rgba(43, 152, 35, 0.4), rgba(36, 186, 13, 0.6), rgba(43, 159, 43, 0.4));
}
.orange{
    background: #d37960;
}
.red{
    background: linear-gradient(to right, rgba(152, 35, 35, 0.4),rgba(186, 13, 13, 0.6), rgba(159, 43, 43, 0.4));

}
.gris{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
}
.black{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}