$borderRadius: 10px;
$black: #0A0908;
$silver: #22333B;
$silverClair: #3d5763;
$gray: #8A9497;
$grayClair: #BEC4C5;
$white:#F2F4F3;
$beige:#CEC3B8;
$bleu:#21a6eddb;
// $bleuClair:#21a6eddb;
$purple2:#b03595;
// $purpleClair2:#e900b7 ;
$purple:#21a6eddb;
$purpleClair:#061a24db ;