<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <meta name="creator" content="Clément Canale">

        {% block meta %}{% endblock %}

        <title>{% block title %}Dev In{% endblock %}</title>
        
        <link rel="icon" href="{{asset('images/logos.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="main">
            {% include "Layout/header.html.twig" %}

                <main class="site">
                    <section class="mainSite">
                        {% include "Layout/flash.html.twig" %}

                        {% block body %}{% endblock %}
                        
                    </section>
                </main>

            {% include "Layout/footer.html.twig" %}
        </div>
    </body>
        <script src="https://kit.fontawesome.com/8b5299c4a2.js" crossorigin="anonymous"></script>

            {# script modal nouvel subject #}
        <script>function modal(bouton){
            var mod = document.getElementsByClassName("modal");
            
            id=bouton.id.split('n')[1];
            id='modal'+id
            let currentModal = document.getElementById(id);

            if (currentModal.style.display == "block"){
                
                if(id=='modal1'){
                    bouton.innerHTML = 'nouvel subject';
                    currentModal.style.display = "none";
                }
                
            }else{
                
                currentModal.style.display = "block";
                if(id=='modal1'){
                    bouton.innerHTML = 'quitter';
                }else{
                    bouton.classList.add('purpleGradient');
                }
                
                let i
                for ( i=0; i< mod.length; i++) {
                    if(mod[i].id!=id){
                        mod[i].style.display = 'none';
                        let btnID = mod[i].id.split('l')[1];
                        let btn = document.getElementById('myBtn'+btnID);
                        if(mod[i].id!='modal1'){
                            btn.classList.remove('purpleGradient');
                        }
                    }
                }
            }




            }
        </script>

</html>
