{% extends 'base.html.twig' %}

{% block body %}
    <h1>La page demandé n'existe pas</h1>

    <p>
        La page demandée est introuvable. Verifiez si il y a une faute d'orthographe dans URL
         ou <a href="{{ path('home') }}">retour à la page d'accueil</a>.
    </p>
{% endblock %}