{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex w-80">
        <h1>La page demandé n'existe pas</h1>

        <p>
            La page demandée est introuvable. Verifiez si il y a une faute d'orthographe dans l'URL
            ou <a href="{{ path('home') }}">retour à la page d'accueil</a>.
        </p>
    </div>
{% endblock %}