{% extends 'base.html.twig' %}

{% block title %}Edit Forum{% endblock %}

{% block body %}


<section class="register">
    <div class="form">
        <h1 class="Lobster">Edit Forum</h1>
        {{ include('admin/forum/_form.html.twig', {'button_label': 'Update'}) }}

    </div>

<a href="{{ path('app_forum_index') }}">back to list</a>

{{ include('admin/forum/_delete_form.html.twig') }}

</section>



    
{% endblock %}
