{% extends 'base.html.twig' %}

{% block title %}
    Page article | {{ parent()}}
{% endblock %}

{% block body %}
<section class="w-80">
    
    {% for article in articles %}
        {% include "Components/_article.html.twig" with { couper: "" } %}
    {% endfor %}
</section>
{% endblock %}
