{% for flash in app.flashes('error') %}
    <div class="alert alert-danger w-80" role="alert">{{flash}}</div>
{% endfor %}
{% for flash in app.flashes('success') %}
    <div class="alert alert-success w-80" role="alert">{{flash}}</div>
{% endfor %}