<footer>
    <ul class="div-nav">
        <li><a href="{{ path('mentionslegal') }}">mentions légales</a></li>
        <li> copyright Dev In © {{"now"|date("Y") }} </li>
        <li><a href="">contact</a></li>
    </ul>
</footer>