{% extends 'base.html.twig' %}

{% block title %}Edit Meme{% endblock %}

{% block body %}
<section class="register">
    <div class="form">
        <h1 class="Lobster">Edit Meme</h1>
        {{ include('admin/meme/_form.html.twig', {'button_label': 'Update'}) }}

    </div>

<a href="{{ path('app_meme_index') }}">back to list</a>

{{ include('admin/meme/_delete_form.html.twig') }}

</section>
    

    
{% endblock %}
