{% extends 'base.html.twig' %}

{% block title %}New Meme{% endblock %}

{% block body %}
    <h1>Create new Meme</h1>

    {{ include('admin/meme/_form.html.twig') }}

    <a href="{{ path('app_meme_index') }}">back to list</a>
{% endblock %}
