{% extends "user/profil.html.twig" %}

{% block title %}
    Abonnements | {{ parent()}}
{% endblock %}
{% block meta %} 
    <meta name="description" 
        content="Le site d'entraide entre developpeur, dans une idée de partage et de progression en toute solidarité ." 
    /> 
    <meta name="robots" 
        content="index,follow" 
    /> 
{% endblock %}
{% block mainProfil %}

    <hr>
    <h1>abonnements {{user.follows | length}}</h1>
    <div class="d-flex ">
        {% include "Components/_usersFollow.html.twig" with { follower : false } %}
    </div>     

{% endblock %}

