{% extends "user/profil.html.twig" %}

{% block title %}
    Sujets postés | {{ parent()}}
{% endblock %}
{% block meta %} 
    <meta name="description" 
        content="Le site d'entraide entre developpeur, dans une idée de partage et de progression en toute solidarité ." 
    /> 
    <meta name="robots" 
        content="index,follow" 
    /> 
{% endblock %}
{% block mainProfil %}
    <hr>
    <h1>subjects postés {{user.subjects | length}}</h1>
    <div class="swip ">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for subject in subjects %}
                    <div class="swiper-slide overflow-y card">
                        {% include "Components/_subjectSwiper.html.twig" with { subject: subject} %}
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>    

{% endblock %}