{% extends "base.html.twig" %}
{% block title %}
    Tous les utilisateurs | {{ parent() }}
{% endblock %}
{% block meta %} 
    <meta name="description" 
        content="Tous nos utilisateurs adhérents qui permettent à Dev In d'être aussi performant dans l'entraide entre devs" 
    /> 
    <meta name="robots" 
        content="index,follow" 
    /> 
{% endblock %}


{% block body %}
    <div class="js-filter w-80">
        {# form search #}
        {{ form_start(forms, { 'attr' : { 'class' : ' js-filter-form formEdit'} }) }}
            <div class="loader">
                <div class="js-loading" role="status" aria-hidden="true" style="display: none">
                    <span class=""><i class="fa-solid fa-spinner fa-spin-pulse"></i></span>
                </div>
            </div>
            {{ form_row(forms.query, { 'attr' : { 'class' : 'formSearch', 'autofocus' : 'autofocus'} }) }}
        {{ form_end(forms, {'render_rest': false }) }}

        {# compteur des résultats #}
        <div class="js-filter-count">
            {% include "Components/filter/_countUser.html.twig" %}
        </div>

        {# résultats #}
        <div class="js-filter-content w-100 d-flex stretch">
            {% include "Components/_users.html.twig" %}
        </div>

        {# pagination (bouton scroll infinie) #}
        <div class="d-flex js-filter-pagination">
            {% include "Components/filter/_paginationUser.html.twig" %}
        </div>
    </div>

{% endblock %}